/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* All my new code */
.first-cont {
  display: block;
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.first-cont p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
.first-cont > *:not(.blurred-bg) {
  z-index: 2;
  position: relative;
}
.blurred-bg {
  background-image: url("../images/fern.jpg");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 700px;
  -webkit-filter: blur(8px);
}
.resume-nav-cont {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 10px 0px 10px 0px;
}
nav a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
.square {
  display: inline-block;
  border: 1px solid white;
  width: 500px;
  height: 500px;
  margin: 0px 0px 0px 100px;
}
.square img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 5% 0px 0px 20%;
}
.square h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5rem;
  margin-top: 20px;
}
.square h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  margin-top: 20px;
  text-transform: uppercase;
}
.square h1,
.square h2 {
  color: white;
  text-align: center;
}
.primero {
  display: flex;
  justify-content: space-between;
}
.primero .two-top-paras {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 350px;
  justify-content: space-between;
  margin-right: 95px;
}
.primero .two-top-paras .career-goals {
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}
.primero .two-top-paras .career-goals p {
  line-height: 23px;
}
.primero .two-top-paras .personal-info p {
  line-height: 25px;
}
.second-cont {
  display: block;
  width: 90%;
  height: 2000px;
  margin: 0 auto;
}
.second-cont .first-bottom,
.second-cont .second-bottom,
.second-cont .third-bottom {
  display: block;
  width: 100%;
  height: 500px;
  border: 1px solid orange;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 50px;
}
.second-cont .first-bottom {
  margin-top: 100px;
  display: flex;
}
.second-cont .first-bottom .work-experience,
.second-cont .first-bottom .education {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3.33%;
  width: 45%;
}
.second-cont .first-bottom .work-experience h3,
.second-cont .first-bottom .education h3 {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid mediumspringgreen;
}
.second-cont .first-bottom .work-experience h4,
.second-cont .first-bottom .education h4 {
  margin-bottom: 20px;
}
.second-cont .first-bottom .work-experience p,
.second-cont .first-bottom .education p {
  line-height: 25px;
}
.second-cont .first-bottom .work-experience .schools-2,
.second-cont .first-bottom .education .schools-2 {
  margin-bottom: 80px;
}
.second-cont h3 {
  font-size: 1.4rem;
}
.second-cont h4 {
  font-size: 1.2rem;
}
.second-cont .second-bottom {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.second-cont .second-bottom .languag3s,
.second-cont .second-bottom .personal-quals {
  width: 40%;
  border: 1px solid deeppink;
}
.second-cont .second-bottom .language-english,
.second-cont .second-bottom .language-spanish {
  border: 1px solid mediumspringgreen;
  width: 40%;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  margin: 20px 0px 0px 30%;
}
.second-cont .second-bottom .language-english p,
.second-cont .second-bottom .language-spanish p {
  margin-top: 35%;
}
.second-cont .second-bottom .languag3s div {
  display: block;
  flex-direction: row;
}
.second-cont .second-bottom .languag3s h3 {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid mediumspringgreen;
}
.second-cont .second-bottom .personal-quals p {
  font-size: 500px;
}
.interests img {
  width: 210px;
  height: 200px;
  border-radius: 50%;
}
/*# sourceMappingURL=index.css.map */